{{#each inventory}}
    <div>
        <p class="product_name" data-num="{{this.id}}">{{this.product_name}}</p>
        <button id="deleteButton_{{this.id}}" data-num="{{this.id}}">X</button>
    </div>
{{/each}}

<input id='newItem' type="text"><button id="addButton">+</button>

<script>
    $('body').on('dblclick', '.product_name', function()
    {
        var currentValue = $(this).text();
        var index = $(this).data('num');
        $(this).replaceWith(`<input type="text" value="${currentValue}"/>`);
        $(`#deleteButton_${index}`).text('YES')
            .attr('id', `updateButton_${index}`)
            .addClass('updateButton');
    });

    $('div').on('click', '.updateButton', function() {
        var id = $(this).data('num');
        var inputValue = $(this).parent().find('input').val();

         $.ajax({
            method: "PUT", 
            url: `/api/inventory/${id}`,
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                name: inputValue, 
            })
        })
    });

    /*$('body').on('click', '.updateButton', function() {
        var id = $(this).data('num');

        $.ajax({
            method: "PUT", 
            url: `/api/inventory/${id}`,
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                name: "aslkmalksmnalksdnasd", 
            })
        })
    }); */



    $('body').on('click', '#deleteButton', function()
    {
        var id = $(this).data('num');
        console.log("Delete button clicked on " + id);
        $.ajax({
            method: "DELETE",
            url: `/api/inventory/${id}`
        });
    });

    $('body').on('click', '#addButton', () => {
        let value = $("#newItem").val();

        $.ajax({
            method: "POST", 
            url: "/api/inventory",
            headers: {
                "Accept": "application/json",
                "Con tent-Type": "application/json"
            },
            data: JSON.stringify({
                name: value, 
                description: "This gitis the best new hat on the market", 
                price: 1.00,                    
                cost: 0.50
            })
        })
    });
</script>
